packages:
  yum:
    amazon-linux-extras: []  # Para habilitar repositórios extras
    epel-release: []       # Repositório EPEL
    libX11: []
    libXcomposite: []
    libXcursor: []
    libXdamage: []
    libXext: []
    libXi: []
    libXtst: []
    cups-libs: []
    libXScrnSaver: []
    libXrandr: []
    pango: []
    atk: []
    gtk3: []

commands:
  01_enable_epel:
    command: amazon-linux-extras install epel -y
  02_install_chromium:
    command: yum install -y chromium
    test: "[ ! -f /usr/bin/chromium ] && echo 'Chromium not installed'"