packages:
  yum:
    amazon-linux-extras: []
    libX11: []
    libXcomposite: []
    libXcursor: []
    libXdamage: []
    libXext: []
    libXi: []
    libXtst: []
    cups-libs: []
    libXScrnSaver: []
    libXrandr: []
    pango: []
    atk: []
    gtk3: []

commands:
  01_install_chromium:
    command: |
      # Instala o Chromium via yum (mais confiável para Amazon Linux)
      amazon-linux-extras install -y epel
      yum install -y chromium
      # Cria um link simbólico para o caminho esperado pelo Puppeteer
      mkdir -p /usr/local/chromium
      ln -sf /usr/bin/chromium-browser /usr/local/chromium/chrome
    test: "[ ! -f /usr/local/chromium/chrome ] && echo 'Chromium not installed'"