packages:
  yum:
    amazon-linux-extras: []  # Para repositórios extras
    libX11: []
    libXcomposite: []
    libXcursor: []
    libXdamage: []
    libXext: []
    libXi: []
    libXtst: []
    cups-libs: []
    libXScrnSaver: []
    libXrandr: []
    pango: []
    atk: []
    gtk3: []

commands:
  01_install_chromium:
    command: |
      wget -O /tmp/chromium.zip https://github.com/chromium/chromium/releases/download/126.0.6478.126/chromium-126.0.6478.126-linux_x64.zip
      mkdir -p /usr/local/chromium
      unzip -o /tmp/chromium.zip -d /usr/local/chromium
      chmod +x /usr/local/chromium/chrome
      rm /tmp/chromium.zip
    test: "[ ! -f /usr/local/chromium/chrome ] && echo 'Chromium not installed'"